<!--<div class="container">-->
<!--  <header class="page-header">-->
<!--    <h2>Mounts</h2>-->
<!--    <small class="pbSmall"><input type="checkbox" id="planner" [ngModel]="showPlanner" (change)="plannerChanged()">-->
<!--      <label for="planner">Show Planner</label>-->
<!--    </small>-->
<!--    <app-progressbar-->
<!--        *ngIf="mountSummary$ | async as mountSummary" [completed]="mountSummary.totalCollected" [total]="mountSummary.totalPossible">-->
<!--    </app-progressbar>-->
<!--  </header>-->
<!--  <div *ngIf="!showPlanner" class="categories">-->
<!--    <ng-container *ngFor="let category of (mountSummary$ | async)?.categories">-->
<!--      <h3 *ngIf="category.name !== 'Mounts'">{{ category.name }}</h3>-->
<!--      <section class="category">-->
<!--        <div class="subcategory" *ngFor="let subcategory of category?.subcats">-->
<!--          <h5>{{ subcategory.name }}</h5>-->
<!--          <ng-container *ngFor="let item of subcategory?.items">-->
<!--            <a target="_blank" href="//{{ wowheadUrl }}/{{ item.link }}" class="thumbnail">-->
<!--              <img [src]="applicationService.getImageSrc(item)" alt="">-->
<!--            </a>-->
<!--          </ng-container>-->
<!--        </div>-->
<!--      </section>-->
<!--    </ng-container>-->
<!--  </div>-->
<!--  <div *ngIf="showPlanner && plannerReturned && planner.length > 0">-->
<!--    <app-mounts-planner></app-mounts-planner>-->
<!--  </div>-->

<!--  <div *ngIf="showPlanner && plannerReturned && planner.length == 0">-->
<!--    <img src="images/success.png" alt=""/>-->
<!--    <p>-->
<!--      Grats! You've farmed all the mounts. <br/>-->
<!--      You should post on <a href="http://reddit.com/r/wow">/r/wow</a>!-->
<!--    </p>-->
<!--  </div>-->
<!--</div>-->
<ng-container *ngIf="mountSummary$ | async as mountSummary">
  <app-summary [name]="'Mounts'"
               [categories]="mountSummary.categories">

    <ng-template #subcategoryTemplate let-subcategory>
      <ng-container *ngFor="let item of subcategory.items">
        <a target="_blank" href="//{{ wowheadUrl }}/{{ item.link }}" class="thumbnail">
          <img [src]="applicationService.getImageSrc(item)" alt="">
        </a>
      </ng-container>
    </ng-template>

    <ng-template #barTemplate>
      <app-progressbar [completed]="mountSummary.totalCollected" [total]="mountSummary.totalPossible"></app-progressbar>
    </ng-template>

  </app-summary>
</ng-container>
