app-mounts works!


<div class="container">
  <div class="page-header">
    <h2>
      Mounts <small class="pbSmall"><input type="checkbox" id="planner" ng-model="showPlanner" ng-change="plannerChanged()"><label for="planner">Show Planner</label></small>
      <div class="progress progressRight">
        <!--        <progressbar max="100" type="success"-->
        <!--                     value="percent(items.collected, items.possible)">-->
        <!--          <span>{{ achFormater(items.collected, items.possible) }}</span>-->
        <!--        </progressbar>-->
      </div>
    </h2>
  </div>
  <div *ngIf="!showPlanner">
    <ng-container *ngFor="let category of mountSummary?.categories">
      <h3 class="categoryHeader" *ngIf="category.name !== 'Mounts'">{{ category.name }}</h3>
      <div class="sect" *ngFor="let subcategory of category?.subcats">
        <h5 class="subCatHeader">{{ subcategory.name }}</h5>
        <a target="_blank" href="//{{ wowHeadUrl }}/{{ item.link }}" class="thumbnail" *ngFor="let item of subcategory?.items" ng-class="{borderOn:!item.collected, borderOff:item.collected}">
          <img [src]="applicationService.getImageSrc(item)">
        </a>
      </div>
      <div class="clear"></div>
    </ng-container>
  </div>
  <div *ngIf="showPlanner && plannerReturned && planner.length > 0">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th>#</th>
        <th>Step</th>
        <th class="mnt-plan-boss-col">Boss</th>
        <th class="mnt-plan-mount-col" style="padding-left:0px;">Mount</th>
        <th>Notes</th>
      </tr>
      </thead>
      <tbody *ngFor="let step of planner; index as i;">
      <tr>
        <td>{{i + 1}}</td>
        <td><img [src]="getPlanStepImageSrc(step)" *ngIf="!getPlanStepImageSrc(step) == ''" class="mnt-icon-step"/>{{getStepTitle(step)}}</td>
        <td colspan="2">
          <table width="100%">
            <tbody *ngFor="let boss of step?.bosses">
            <tr>
              <td class="mnt-plan-boss-col">{{boss.name}}</td>
              <td class="mnt-plan-mount-col"><a *ngIf="boss.itemId" ng-class="anchorCss(boss)" target="_blank" href="//{{wowHeadUrl}}/item={{ boss.itemId }}">
                <img class="mnt-plan-icon" [src]="getPlanImageSrc(boss)">{{boss.mount}}</a></td>
            </tr>
            </tbody>
          </table>
        </td>
        <td>
          {{step.notes}}
          <table>
            <tbody>
            <ng-container *ngFor="let boss of step?.bosses">
              <tr>
                <td>{{boss.note}}&nbsp;</td>
              </tr>
            </ng-container>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="showPlanner && plannerReturned && planner.length == 0">
    <img src="images/success.png"/>
    <p>
      Grats! You've farmed all the mounts. <br/>
      You should post on <a href="http://reddit.com/r/wow">/r/wow</a>!
    </p>
  </div>
</div>