<!--<table class="table table-condensed">-->
<!--  <thead>-->
<!--  <tr>-->
<!--    <th>#</th>-->
<!--    <th>Step</th>-->
<!--    <th class="mnt-plan-boss-col">Boss</th>-->
<!--    <th class="mnt-plan-mount-col" style="padding-left:0px;">Mount</th>-->
<!--    <th>Notes</th>-->
<!--  </tr>-->
<!--  </thead>-->
<!--  <tbody *ngFor="let step of planner; index as i;">-->
<!--  <tr>-->
<!--    <td>{{i + 1}}</td>-->
<!--    <ng-container *ngIf="profile$ | async; let profile;">-->
<!--      <td><img [src]="getPlanStepImageSrc(step, profile.side === 'A')" *ngIf="getPlanStepImageSrc(step, profile.side === 'A') !== ''" class="mnt-icon-step"/>{{getStepTitle(step)}}</td>-->
<!--    </ng-container>-->
<!--    <td colspan="2">-->
<!--      <table width="100%">-->
<!--        <tbody *ngFor="let boss of step?.bosses">-->
<!--        <tr>-->
<!--          <td class="mnt-plan-boss-col">{{boss.name}}</td>-->
<!--          <td class="mnt-plan-mount-col"><a *ngIf="boss.itemId" [ngClass]="anchorCss(boss)" target="_blank" href="//{{wowheadUrl}}/item={{ boss.itemId }}">-->
<!--            <img class="mnt-plan-icon" [src]="getPlanImageSrc(boss)">{{boss.mount}}</a></td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </td>-->
<!--    <td>-->
<!--      {{step.notes}}-->
<!--      <table>-->
<!--        <tbody>-->
<!--        <ng-container *ngFor="let boss of step?.bosses">-->
<!--          <tr>-->
<!--            <td>{{boss.note}}&nbsp;</td>-->
<!--          </tr>-->
<!--        </ng-container>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </td>-->
<!--  </tr>-->
<!--  </tbody>-->
<!--</table>-->
