<div class="container">
  <ng-container *ngIf="(achievementSummary$ | async)?.supercategories.get(prettySupercategory) as superCategory">
    <div class="page-header">
      <h2>Achievements <small>{{prettySupercategory}}</small></h2>
      <ng-container *ngIf="superCategory.name === 'Feats of Strength' || superCategory.name === 'Legacy'; else progressbar">
        <app-bar [total]="superCategory.possible"></app-bar>
      </ng-container>
      <ng-template #progressbar>
        <app-progressbar [completed]="superCategory.completed" [total]="superCategory.possible"></app-progressbar>
      </ng-template>
    </div>

    <ng-container *ngFor="let category of superCategory.categories">
      <h3 class="categoryHeader" *ngIf="category.name !== prettySupercategory">{{ category.name }}</h3>
      <div class="sect" *ngFor="let subcategory of category.subcats">
        <h5 class="subCatHeader">{{ subcategory.name }}</h5>

        <a [target]="anchorTarget"
           href="//{{wowheadUrl}}/achievement={{achievement.id}}"
           class="thumbnail" ng-attr-rel="{{achievement.rel}}"
           *ngFor="let achievement of subcategory.achievements"
           [ngClass]="{borderOn:!achievement.completed, borderOff:achievement.completed}">
          <img [src]="getImageSrc(achievement)">
        </a>
      </div>
    </ng-container>
  </ng-container>
</div>
